<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
          alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="margin-top: -50px;">
        <h3 class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</h3>

        <% if (errorMessage) { %>
          <p style="color: red; text-align: center;"><%=errorMessage%></p>
        <% } %>

        <form action="/login" method="POST" style="font-size: 18px;">
          <!-- Email input -->
          <div class="form-group" style="margin-bottom: 15px;">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="">
          </div>

          <!-- Password input -->
          <div class="form-group" style="margin-bottom: 15px;">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="">
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4" style="font-size: 18px;">Sign in</button>

        </form>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="/register">Register</a></p>
        </div>

      </div>
    </div>
  </div>
</section>